{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 43,
          "ie": 11,
          "firefox": 40
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
