/* base */
.stories {white-space: nowrap;overflow:auto;}
.stories .story {display: inline-block;width:20vw;margin: 0 12px;max-width: 90px;}
.stories .story:first-child {margin-left: 0;}
.stories .story:last-child {margin-right: 0;}
.stories .story > a {display:block;}
.stories .story > a > span > img {width: 100%;}
.stories .story > .items {display: none;}


/* modal */
@keyframes zuckSlideTime {0%{max-width: 0;}100%{max-width:100%;}}

#zuck-modal {
    position: fixed;
    background: rgba(0,0,0,0.75);
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: 100000;
    font-size: 14px;
}

#zuck-modal-content,
#zuck-modal-content .story-viewer,
#zuck-modal-content .story-viewer > .slides, 
#zuck-modal-content .story-viewer > .slides > * {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#zuck-modal-content .story-viewer .slides .item {
    background: #000;
    display: none;
    overflow: hidden;
}

#zuck-modal-content .story-viewer .slides .item.active {
    display: block;
}

#zuck-modal-content .story-viewer .slides .item > * {
    height: 100%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#zuck-modal-content .story-viewer .head {
    position: absolute;
    height: 56px;
    left:0;
    right: 0;
    line-height: 56px;
    padding: 0 12px;
    z-index: 100010;
    color: #fff;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75), 1px 0px 1px rgba(0,0,0,0.75);
}

#zuck-modal-content .story-viewer .head .img {
    background-size: cover;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 12px;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15);
}

#zuck-modal-content .story-viewer .head .left {
    float: left;
}

#zuck-modal-content .story-viewer .head .right {
    float: right;
}

#zuck-modal-content .story-viewer .head .right .time {
    opacity: 0.75;
    font-weight: bold;
    font-size:13px;
}

#zuck-modal-content .slides-pointers {
    display: table;
    table-layout:fixed;
    border-spacing: 6px;
    border-collapse: separate;
    position: absolute;
    width: 100%;
    top:0;
    right:0;
    left:0;
    z-index: 100020;
}

#zuck-modal-content .slides-pointers > * {
    display: table-row;
}

#zuck-modal-content .slides-pointers > * > * {
    display: table-cell;
    background: rgba(255, 255, 255, 0.65);
}

#zuck-modal-content .slides-pointers > * > *.seem {
    background: #fff;
}

#zuck-modal-content .slides-pointers > * > * > b {
    background: #fff;
    width: auto;
    max-width: 0;
    height: 2px;
    display: block;
    animation-fill-mode: forwards;
}

#zuck-modal-content .story-viewer .head,
#zuck-modal-content .story-viewer .slide-pointers {
    transition: opacity 0.5s;
}

#zuck-modal-content .story-viewer.paused .head,
#zuck-modal-content .story-viewer.paused .slide-pointers {
    opacity: 0;
}

#zuck-modal-content .story-viewer.paused .slides-pointers > * > *.active > b,
#zuck-modal-content .story-viewer.buffering .slides-pointers > * > *.active > b {
    animation-play-state: paused;
}

#zuck-modal-content .slides-pointers > * > *.active > b {
    animation-name: zuckSlideTime;
}
