/* base */
.stories {white-space: nowrap;overflow:auto;}
.stories .story {display: inline-block;width:20vw;margin: 0 12px;max-width: 90px;}
.stories .story:first-child {margin-left: 0;}
.stories .story:last-child {margin-right: 0;}
.stories .story > a {display:block;}
.stories .story > a > span > img {width: 100%;}
.stories .story > .items {display: none;}


/* modal */
#zuck-modal {
    position: fixed;
    background: rgba(0,0,0,0.5);
    top:0;
    right:0;
    left:0;
    bottom:0;
}

#zuck-modal-content,
#zuck-modal-content .stories-slides,
#zuck-modal-content .stories-slides > * {
    background: #000;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#zuck-modal-content .slide-item > * {
    height: 100%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}